:root {
  --not-white: #fffaf3;
  --drk-white: #f2e9e1;
  --not-black: #191724;
  --not-red:   #eb6f92;
  --not-blue:  #31748f;
  --not-green: #56949f;
  --not-grey:  #393552;
  --muted:     #6e6a86;
  --hdr-hght:  5rem;
  --lrg-txt:   2.2rem;
}
/* --drk-white  --not-white */
.light-theme {
  --bg-color: var(--drk-white);
  --bg-side:  var(--not-white);
  --text:     var(--not-black);
  --text-area: var(--not-white);
  
}

.dark-theme {
--bg-color: var(--not-grey);
--bg-side:  var(--muted);
  --text:     var(--drk-white);
  --text-area: var(--drk-white); 
 }

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-size: 300rem;
}

.side-note-menu {
  height: 100%;
  width: 20rem;
  background-color: var(--bg-side);
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--hdr-hght);
}

.side-nav span {
  color: var(--text);
}

.side-nav span p {
  font-size: var(--lrg-txt);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--bg-color);
}

header, footer {
  height: var(--hdr-hght);
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: var(--lrg-txt);
}

header a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
}

.note-container-main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.note-area {
  width: 90%
}

article {
  margin-bottom: var(--lrg-txt);
}

.read-note-area p {
  font-family: 'Libre Baskerville', serif;
  color: var(--text);
  font-size: 1.6rem;
}

i {
  font-size: 3rem;
}

.icons {
  color: var(--text);
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text);
  font-size: var(--lrg-txt);
}

.write-note-area{
  width: 1200px;
}
textarea {
  font-size: 2.5rem;
  letter-spacing: 1px;
  /* font-family: 'IBM Plex Serif', serif; */
  /* font-family: 'Open Sans', sans-serif; */
  /* size: 10px; */
  padding: 95px;
  
  resize: none;
  /* width:200px; */
  line-height: 1.5;
  border-radius: 7px;
  border:--not-black;
  /* color: #191724; */
  background-color:var(--text-area); 
  overflow: auto;
  /* outline:--not-black; */
  border: 0.5px dotted var(--text);
  position: relative;
	top: 0px; left: 10px;
  
 }


 /* textarea {
  caret-color: var(--not-red);
  border: none;
  
  
  resize: none;
  
  
} */


.options {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: var(--text);
}

.a {
  font-size: 2.5rem;
  order: 0;
}

.b {
  font-size: 2.5rem;
  order: 1;
  padding-left: 75px;
}

.notes-list>li{
  font-size: 1.7rem;
  color: var(--text);
  max-width: 10ch;
  /* white-space: nowrap; */
    overflow: visible;
    text-overflow: ellipsis;
} 

.read-note-area>li {
  font-size:2.5rem;
}
.c {
  font-size: 2.5rem;
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  
  padding-right: 300px;
}

